* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
  }

  .large-img {
    display: none;
  }

  h1,h2,h3 {
    margin: 0;
    padding: 1em 0;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }

#read-more {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

#read-more:hover {
    background: #eaeaea;
    color: #333;
}

#header-show {
    display: flex;
    justify-content: center;
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#header-show .background-img {
    position: absolute;
    background: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#header-show h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#header-show, .content,
#sect-a .content {
    padding: 0 1.5em;
}

 #sect-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
 }


  #sect-b {
    padding: 2em 2em 1em;
    background-color: #333;
  }
  #sect-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #sect-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }

  .card-content {
    padding: 1.5em;
  }


  #sect-c {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #333;
    padding: 2em;
  }


  #sect-d .box {
    padding: 2em;
    color: #fff;
  }

  #sect-d .box:first-child {
    background: #2690d4;
  }


  #foot {
    padding: 2em;
    background: #000;
    color: #fff;
    
  }

  #foot a {
    color: #2690d4;
    text-decoration: none;
  }

  
  @media (min-width: 700px) {
    .view {
        display: flex;
    }

    .large-img {
        display: block;
    }

    .small-img {
        display: none;
    }

    #sect-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #sect-a .content-text p {
        padding-top: 0;
    }


    #sect-b ul {
        display: flex;
        justify-content: space-around;
    }

    #sect-b li {
        width: 25%;
        
    }

    #sect-d {
        display: flex;
      }
      
      .box {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
      }

      #foot {
        display: flex;
        justify-content: center;
        gap: 50%;
      }
}